<div class="card">
    <div class="card-status-top bg-primary"></div>
    <div class="card-body">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col-auto">
                    <!-- Page pre-title -->
                    <h2 class="page-title">
                        {{ table.breadcrumb.page_title }}
                    </h2>
                    <div class="page-pretitle text-capitalize">
                        {{ table.breadcrumb.page_pretitle }}
                    </div>
                </div>
                {% if  table.breadcrumb.href %}
                <div class="col-auto ml-auto d-print-none">
                    <a href="{% url table.breadcrumb.href %}" class="btn btn-primary ml-3 d-none d-sm-inline-block">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                            stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                            stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z"></path>
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        Create {{  table.breadcrumb.page_title }}
                    </a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>